$pink1: #c21760;
$pink2: #FF2B85;
$pink3: #A11350;

$pink4: rgb(234, 129, 174);
$pink5: #A11350;
$pink6: #fdf2f7;
$pink7: #fad9e7;
$pink8:#f6b2cf;

$pink_gradient: linear-gradient(90deg, #ff2b85 0%, #e21b70 100%);

$pink9: #e21b70;
$pink10: #ed66a0;

$cream1: #ffedc6;
$cream2: #ffd271;
$cream3: #ffdb8d;
$cream4: #ffe4aa;
$cream5: #ffe9b8;



$black1:#171F26;
$font_color2:#333333;
$black3:#39434D;;
$hero_bg:#f7f7f7;

$gray1:#6B7680;
$gray2:#C7CDD1;
$gray3:#707070;
$gray4:#dcdcdc;

$orange1:#ffb413;
$orange2: #ffd271;
$orange3: #fcc54c;

$red1: #e03000;
$red2: #bb2800;



$violet_gradient: linear-gradient(90deg, #6E3DAB 0%, #5C1D94 100%);
$violet1: #6E3DAB;
$violet2: #5C1D94;
$violet3: #FCF3FE;
$violet4: #EFDDF5;
$violet5: #C69ADF;



$blue1: #1877F2;
$blue2: #1364CE;
$blue3: #B2E2F0;
$blue4: #307FE2;


$blue5: #25537C;

$teal: #3c8264;
