$pink1: #e21b70;
$pink2: #c21760;
$light_pink1: #fad9e7;
$light_pink2: #f6b2cf;

$black1: #333333;
$black2: #39434d;
$light_gray1: #f7f7f7;
$light_gray2: #f0f2f2;
$light_pink3: #ea81ae;
$blue1: #25537c;
$dark_gray1: #707070;

$pink3: #a11350;

$pink_gradient: linear-gradient(90deg, #ff2b85 0%, #e21b70 100%);

$light_pink4: #ed66a0;

$cream1: #ffedc6;
$cream2: #ffd271;
$cream3: #ffdb8d;
$cream4: #ffe4aa;
$cream5: #ffe9b8;

$black1: #171f26;
$font_color2: #333333;
$black3: #39434d;
$hero_bg: #f7f7f7;

$dark_gray2: #6b7680;
$light_gray4: #c7cdd1;
$light_gray3: #dcdcdc;

$orange1: #ffb413;
$orange2: #ffd271;
$orange3: #fcc54c;

$red1: #e03000;
$red2: #bb2800;

$violet_gradient: linear-gradient(90deg, #6e3dab 0%, #5c1d94 100%);
$violet1: #6e3dab;
$violet2: #5c1d94;
$violet5: #c69adf;

$blue2: #1877f2;
$blue3: #1364ce;
$blue4: #b2e2f0;
$blue5: #307fe2;

$teal: #3c8264;
