.dish {
  margin-top: 4em;
  padding: 1em 0em;

  margin-bottom: 1.2em;

  &-navigation {
    // overflow: auto;
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 1em;
    position: sticky;
    top: 6.9em;
    background-color: white;
    box-shadow: 9px 17px 20px rgb(237, 236, 236);
    z-index: 2;
    padding-inline-start: 1em;

    & > * {
      cursor: pointer;
    }
    &-searchList {
      background-color: white;
      position: absolute;
      display: flex;
      padding: 1em;
      flex-direction: column;
      gap: 0.4em;
      top: 5em;
      left: 4em;
      width: max-content;
      height: fit-content;
      box-shadow: 9px 17px 20px rgb(237, 236, 236);

      p {
        display: inline-block;
        font-size: 0.87em;
        padding: 0.1em;
        font-weight: 500;

        &:hover {
          background-color: lightgrey;
        }
      }
    }
  }

  &-searchbar {
    flex-shrink: 0;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 1.5em;
      color: gray;
    }

    &-input {
      @media (max-width: 959px) {
        z-index: 6;
        position: absolute;
        top: 0em;
        left: 4em;
        display: block;
        border-radius: 15px;
        border: none;
        background-color: #eeecec;
        padding: 0.5em 2em;
        font-size: 0.95em;
        width: 70vw;
        height: 99%;

        box-shadow: 0 0 7px 1px #a1a1a1;
      }
    }
  }

  &-navlinks-container {
    height: 60px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100vw;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none; /* Chrome/Safari/Edge */
    }
  }

  &-searchbar,
  &-prev-button,
  &-next-button {
    box-shadow: 0 0 5px lightgrey;
  }

  &-navlinks {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 0 0.5em;
    gap: 1em; /* Use gap instead of margin for spacing */
    white-space: nowrap; /* Ensure horizontal scroll works */

    // > * + * {
    //   margin-left: 1em;
    // }

    li {
      white-space: nowrap;
      font-size: 0.74em;
      font-weight: 500;
      color: #837b7b;
      height: 60px;
      padding: 0 0.5em;
      outline: none;

      @extend .breadcrumbs-link;
      z-index: 0;
      display: flex;
      align-items: center;
      &:hover::before {
        width: 60%; /* Change width on hover */
      }
      &:focus::before {
        width: 100%; /* Change width on hover */
      }

      border-bottom: none;
      &:hover {
        background-color: #837b7b21;
      }

      &:focus {
        background-color: #837b7b21;
      }
    }
  }

  &-prev-button {
    @extend .prev-button;

    min-width: 32px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 0;
    flex-shrink: 0;
    position: relative;

    &:after {
      min-width: 32px;
      border: 1px solid lightgray;
    }
  }
  &-next-button {
    @extend .next-button;
    position: relative;
    background-color: white;
    border-radius: 50%;
    top: 0;
    flex-shrink: 0;

    &:after {
      border: 1px solid lightgray;
    }
  }
}

@media (min-width: 960px) {
  .dish {
    &-navigation {
      top: 4em;
    }
    &-searchbar {
      box-shadow: 0px 0px 0px white !important;
      border: none;
      background-color: white;
      border-radius: 0%;
      height: 100%;

      img {
        position: absolute;
        left: 1.7em;

        max-width: 24px !important;
      }

      &-input {
        z-index: initial;
        position: static;
        display: block;
        border-radius: 15px;
        border: none;
        background-color: #eeecec;
        padding: 0.5em 2em;
        font-size: 0.95em;
        width: 200px;
      }
    }
  }
}

.dish-prev-button,
.dish-next-button {
  border: none;
  cursor: pointer;
  &:disabled {
    display: none;
  }
}
@media (max-width: 959px) {
  .hide-input {
    display: none !important;
  }
}
