
.extra-detail{
    margin: 1em auto;
    padding-inline: max(5%,6px);
    text-wrap: balance;

   
    
    h3{
     
      font-size:1em;
      margin-bottom: .5em;
    }

    p{
      font-size: .8em;
      font-weight: 400;
      color: #333333;
    }
  
  }


@media(min-width: 700px){

  .extra-detail{

   
    
    h3{
     
      font-size:1.5em;
      margin-bottom: .65em;
    }

    p{
      font-size: 1em;
      font-weight: 400;
    }
  
  }


}

@media(min-width: 700px){

  .extra-detail{

   
    
    h3{
     
      font-size:1.5em;
      margin-bottom: .65em;
    }

    p{
      font-size: 1em;
      font-weight: 400;
    }
  
  }


}