

.hero{
    background: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 110px;

    
    &-title{
    
     
        flex-basis: 46%;
        color: $font_color2;
        font-family: 'Agrandir';
        display: flex;
        align-items: center;
        padding: 0 2%;
 
  
    }
    

     &-image {
    
      flex-basis: 46%;
      position: relative;
      overflow:hidden;
    
      img{
       width: 120%;
      }
      
    }
    

    
    &-location{
    
      width: 100%;
      position: absolute;
      bottom: -6em;
      
     &-form {
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              gap: 1em;
              padding: 1em;
        
        
              &-locateMe {
               
                border-radius: 9px;
                flex-grow: 1;
                display: flex;
                box-shadow: 0px 0px 2px 1px #cbc3c3;


                input {
                  flex-grow: 1;
                  margin-inline-end: auto;
                  border: none;
                  border-radius: 9px 0px 0px 9px;
                  outline: none;
                  padding-inline: 1em;
                  font-size: 1em;
                  font-weight:lighter ;
                  font-family: "Open Sans";
                  position: relative;
                  

                  &::after{
                    content: 'Your Street and street number';
                    height: 100%;
                    width: 100%;
                    background-color: #333;
                    top: 0;
                    bottom:0;
                    position: absolute;
                  }
              }

              button {
                background: white;
                border: none;
                display: flex;
                gap: .5em;
                align-items: center;
                padding: .8em;
                font-size: .9em;
                font-weight: 550;
                color: #333;
                border-radius:0px 9px 9px 0px;
                font-family: "Open Sans";

                &:hover {
                  color: #c21760;
              }
            
            }
                   }
  }
    
  
  &-find-btn {
    background: #e21b70;
    color: white;
    flex-grow: 1;
    border: none;
    padding: 1.125em;
    font-size: .85em;
    font-weight: 550;
    border-radius: 9px;
    font-family: "Open Sans";
}
     }
     
    } 


@media(max-width: 400px){
  .hero-title{
    font-size: 0.65em;
  }

}

@media(min-width: 401px) and (max-width: 675px){
  .hero-title{
    font-size: 0.75em;
  }
}


@media(min-width: 676px) and (max-width: 675px){
  .hero-title{
    font-size: 0.85em;
  }
}
@media(min-width: 676px) and (max-width: 1042px){
  .hero-title{
    font-size: 1.145em;

  }
}

@media(min-width: 1043px) and (max-width: 1251px){
  .hero-title{
    font-size: 1.45em;
  }
}

@media(min-width: 1252px) and (max-width: 1427px){
  .hero-title{
    font-size: 1.75em;
  }
}


@media(min-width: 1428px){
  .hero-title{
    font-size: 2em;
  }
}


@media(min-width: 964px){
 .hero{
  align-items: start;
  margin-bottom: 4em;

  &-title{
    margin-top: 2em;
  }
 
  &-location {
    background: white;
    padding: 0em;
    width: 50%;
    border-radius: 9px;
    bottom: 30%;
    left: 1em;


    &-form {
      flex-direction: row;
      gap: 0.3em;

  }

  &-find-btn{

    flex-grow: 0;
   
  }
}}
}





