.nav {
  box-shadow: 1px -5px 20px 0px #9f8a8a;
  display: flex;
  position: relative;
  z-index: 1;
}
  
  .nav-bar{
  
      display: flex;
      flex-grow: 1;
      gap: 1em;
      padding: 1em;

      &-menu{
        margin-right: auto;
      }
  
  
    &-menu,&-cart{
  
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
  
    
  
      &::after{
        content: '';
        height: 100%;
        width: 100%;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 0.3s;
  
  
      }
  
      &:hover::after {
        background-color: $gray4;
        transform: scale(1.5);
      }
  
    }
    &-logo{
   
  
        display: flex;
        gap: 0.5em;
        margin-right: auto;

  
    }

    &-loginBtn,&-signupBtn,&-langBtn{
      display: none;
    }

   
  
  }
  


  @media(min-width:960px){

    .nav-bar{

      &-menu{
        display: none;
      }

      &-loginBtn,&-signupBtn,&-langBtn{
        display: inline;
      }

   
      &-langBtn button{
        display: flex;
        padding-inline: .5em;
        gap: .5em;
      }
    }
  }