.popup-container {
  background-color: rgba(0, 0, 0, 0.179);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  @media (min-width: 530px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-popup {
  &-content {
    background-color: white;
    position: relative;
    padding: 1em 1em;
    border-radius: 9px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;

    & > * + * {
      margin-top: 1.7em;
    }

    h2 {
      font-size: 1.2em;
    }

    h1 {
      font-size: 2em;
    }

    @media (min-width: 530px) and (max-width: 764px) {
      max-width: 430px;

      max-height: 80%;
      padding: 1.3em 1.5em;
    }
    @media (min-width: 765px) {
      max-width: 550px;

      max-height: 80%;
      padding: 1.3em 1.5em;
    }
  }

  &-title {
    display: flex;
    gap: 0.7em;
    align-items: center;
    flex-wrap: wrap;

    &-icon {
      width: fit-content;
      top: 0;
    }
  }

  &-description {
    font-size: 0.9em;
    font-weight: 500;
    color: #333;

    & > * + * {
      margin-top: 1em;
    }

    p,
    button {
      padding-inline: 0.1em;
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.3em;
      font-weight: 650;
    }
  }

  &-dropdown {
    padding: 0.5em 1.9em;
    transition: 0.4s ease;
    li {
      list-style-type: initial;
    }
  }

  &-end {
    display: flex;
    border-top: 1px solid;
    padding: 0.5em 1em;
    gap: 1em;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

.popup-item {
  background-color: white;
  height: calc(100% - 150px);
  position: relative;

  &-cross {
    @extend .signin-cancel;
    right: 2em;
    &::after {
      background-color: white;
    }
  }

  &-content {
    background-color: aquamarine;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 76px);

    picture {
      display: flex;
      width: 100%;
      aspect-ratio: 16/9;
      align-items: center;
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }
  }

  footer {
    display: flex;
    height: 75px;
    padding: 1em;
    justify-content: space-around;

    div {
      display: flex;
      width: 20%;

      button {
        font-size: 1.5em;
      }
    }

    button {
      width: 60%;
    }
  }
}
