.card {
  padding: 1em;
  position: relative;
  border: 0.5px solid #d3d0d0;
  border-radius: 9px;
  height: 104px;
  min-width: 280px;
  width: 280px;
  transition: transform 0.3s ease; /* Smooth transition for hover */

  &::before,
  .stamp::before {
    @include after-element;
    border-radius: 9px;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  &:hover::before {
    background-color: pink;
    transform: scale(1.04);
    z-index: -1;
  }
  &:hover {
    border: none;
    background-color: transparent;

    .card-icon-left {
      transform: translateX(-0.4em);
      border: none;
    }

    .card-icon-right {
      transform: translateX(0.4em);
      border: none;
    }
    .stamp-icon-container,
    .pro-icon-container,
    .discount-icon-container {
      transform: translateX(0.3em);
      border: none;
    }
  }

  &-offer {
    display: flex !important;
    justify-content: flex-start !important;
    h4 {
      font-size: 0.88em;
      margin-left: 0.5em;
    }
  }

  &-details {
    margin-top: 0.5em;
    font-size: 0.7em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    p:first-of-type {
      font-size: 0.9em;
      font-weight: 450;
    }
  }

  &-icon {
    &-left,
    &-right {
      position: absolute;
      top: 60%;
      background-color: white;
      border-radius: 50%;
      border-color: #d3d0d0;
      transition: transform 0.3s ease; /* Smooth transition for hover */
    }

    &-left {
      left: -0.57em;
      border-right: 0.5px solid;
      border-left: none;
    }
    &-right {
      right: -0.57em;
      border-left: 0.5px solid;
      border-right: none;
    }

    &-pro {
      opacity: 0.5;
    }
  }
}

.stamp {
  border: none;
  background: #ffedc6;

  &-icon {
    opacity: 0.5;
  }

  &-icon-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }

  &:hover::before {
    background-color: #fee1a2;
    transform: scale(1.04);
    z-index: -1;
  }
}

.cutout {
  h4 {
    color: deeppink;
  }
}

.pro {
  border: none;
  background: #f9f7f7;

  &-header-icon {
    position: relative;
    top: 0.4em;
    background-color: #5c1d94;
    color: white;
    font-size: 0.67em;
    font-weight: 500;
    display: flex;
    gap: 0.2em;
    border-radius: 5px;
    height: 17px;
    padding: 0em 0.4em;

    img {
      height: 14px;
    }
  }

  &:hover::before {
    background-color: #e7e5e5;
    transform: scale(1.04);
    z-index: -1;
  }

  &-icon {
    opacity: 0.2;
  }

  &-icon-container {
    position: absolute;
    bottom: 0em;
    right: 0em;
    width: 60px;
    height: 50px;
    overflow: hidden;
  }

  h4 {
    color: #333;
  }
}

.discount {
  border: none;
  background: #ffecef;

  h4 {
    color: deeppink;
  }

  &-icon {
    opacity: 0.5;
  }

  &-icon-container {
    position: absolute;
    bottom: -0.2em;
    right: 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }

  &:hover::before {
    background-color: #fedfe3 !important;
    transform: scale(1.04);
    z-index: -1;
  }
}
