.app-ad {
    background: rgb(238, 4, 129);
    color: white;
    max-height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    padding:0 1em;
    margin-bottom: 100px;



    &-main-title{
        margin-left: .5em;
        margin-bottom: 1rem;
        font-size: 2rem;
    }


    &-content {
  
        display: flex;
        flex-direction: column;
        gap: 1em;



        h3{
            margin-top: 20px;
            font-size: clamp(1.125rem,1.25rem,1.75rem);
        }

        &-fingrtips {
    

            p {
               font-size: clamp(0.85rem,0.95rem,1rem);
               line-height: 1.6;
               font-weight: 500;
          
            }

            
        }

        &-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
            flex-wrap: wrap;
        }

        &-qrcode{
            display: none;
        }

    }


    &-main-image {


        img {
        
            width: min(600px,100%);
         
        }
    }
}



@media(min-width:904px){
    .app-ad {
       
        color: white;
        max-height: 280px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding:0 1em;
    
    
     
    
        &-content {
      gap: 3rem;
          
           
            
    &-title{
        width: 100%;
        h3 {
            margin-top: auto;
            text-align: start ;
        }
    
    }
    
            &-fingrtips {
               display: flex;
               gap: 1em;
               align-items: center;
    
          
              

                p{
                    margin-left: auto;
                    text-align: start;
                }
            }
    
            &-qrcode{
                width: 250px;
                height: 90px;
                border: 1px solid white;
                display: grid;
                place-items: center;
                
               }
    
        }


        &-main-image {
            
           display: grid;
           place-items: center;
        }
}







}






.app-download{


  background-color: #efeded;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-block: 5em;



        &-invisible{
           display: none; 

           &:first-child{
            position: relative;
            top: -1.1em;
           }

           @media(min-width: 768px)
           {
            display: inline-block;
           }
        }
   
    
}