.available-deals {
  padding: 1em;

  &-cards {
    padding-inline: 0.5em;
    gap: 1em;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
  }
}
