
$gridMinWidthSm: 528px;
$gridMinWidthMd: 768px;
$gridMinWidthLg: 960px;
$gridMinWidthXl: 1264px;
    
$gridMaxWidthSm: 767px;
$gridMaxWidthMd: 959px;
$gridMaxWidthLg: 1263px;
$gridMaxWidthXl: 1440px;

$gridColSm: 6;
$gridColMd: 6;
$gridColLg: 12;
$gridColXl: 12;

$gridGutterSm: 16px;
$gridGutterMd: 16px;
$gridGutterLg: 24px;
$gridGutterXl: 24px;
$gridMarginSm: 16px;
$gridMarginMd: 16px;
$gridMarginLg: 32px;
$gridMarginXl: 64px;