@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.display-none {
  display: none;
}

.placeholder {
  position: absolute;
  bottom: 0.65em;
  left: 0.5em;
  background: white;
  transition: 0.1s;
  font-size: 0.95em;
}

.hero {
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 110px;
}
.hero-title {
  flex-basis: 46%;
  color: #333333;
  font-family: "Agrandir";
  display: flex;
  align-items: center;
  padding: 0 2%;
  font-weight: 550;
}
.hero-image {
  flex-basis: 46%;
  position: relative;
  overflow: hidden;
}
.hero-image img {
  width: 120%;
}
.hero-location {
  width: 100%;
  position: absolute;
  bottom: -6em;
}
.hero-location-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.hero-location-form-locateMe {
  position: relative;
  border-radius: 9px;
  flex-grow: 1;
  display: flex;
  box-shadow: 0px 0px 2px 1px #cbc3c3;
}
.hero-location-form-locateMe input {
  flex-grow: 1;
  margin-inline-end: auto;
  border: none;
  border-radius: 9px 0px 0px 9px;
  outline: none;
  padding-inline: 1em;
  font-size: 1em;
  font-weight: lighter;
  font-family: "Open Sans";
}
.hero-location-form-locateMe input :not(:-moz-placeholder-shown) + .placeholder {
  font-size: 0.65em;
  bottom: 4em;
  left: 1em;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.634);
  font-weight: 500;
}
.hero-location-form-locateMe input:focus + .placeholder, .hero-location-form-locateMe input :not(:placeholder-shown) + .placeholder, .hero-location-form-locateMe input:hover + .placeholder {
  font-size: 0.65em;
  bottom: 4em;
  left: 1em;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.634);
  font-weight: 500;
}
.hero-location-form-locateMe button {
  background: white;
  border: none;
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0.8em;
  font-size: 0.9em;
  font-weight: 550;
  color: #333;
  border-radius: 0px 9px 9px 0px;
  font-family: "Open Sans";
  position: relative;
  z-index: 2;
}
.hero-location-form-locateMe button:hover {
  color: #c21760;
}
.hero-location-find-btn {
  flex-grow: 1;
}
.hero-location-find-btn:hover::after {
  transform: scale(1.01) !important;
}

@media (max-width: 400px) {
  .hero-title {
    font-size: 0.65em;
  }
}
@media (min-width: 401px) and (max-width: 675px) {
  .hero-title {
    font-size: 0.75em;
  }
}
@media (min-width: 676px) and (max-width: 675px) {
  .hero-title {
    font-size: 0.85em;
  }
}
@media (min-width: 676px) and (max-width: 1042px) {
  .hero-title {
    font-size: 1.145em;
  }
}
@media (min-width: 1043px) and (max-width: 1251px) {
  .hero-title {
    font-size: 1.45em;
  }
}
@media (min-width: 1252px) and (max-width: 1427px) {
  .hero-title {
    font-size: 1.75em;
  }
}
@media (min-width: 1428px) {
  .hero-title {
    font-size: 2em;
  }
}
@media (min-width: 964px) {
  .hero {
    align-items: start;
    margin-bottom: 4em;
  }
  .hero-title {
    margin-top: 2em;
  }
  .hero-location {
    background: white;
    padding: 0em;
    max-width: 50%;
    border-radius: 9px;
    bottom: 30%;
    left: 1em;
  }
  .hero-location-form {
    flex-direction: row;
    gap: 0.7em;
  }
  .hero-location-find-btn {
    flex-grow: 0;
  }
}
.nav {
  box-shadow: 1px -5px 20px 0px #9f8a8a;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

.nav-bar {
  display: flex;
  flex-grow: 1;
  gap: 1em;
  padding: 0.75em;
  position: relative;
  z-index: 1;
}
.nav-bar-menu {
  margin-right: auto;
}
.nav-bar-menu, .nav-bar-cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.nav-bar-menu::after, .nav-bar-cart::after {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}
.nav-bar-menu:hover::after, .nav-bar-cart:hover::after {
  background-color: #dcdcdc;
  transform: scale(1.5);
}
.nav-bar-logo {
  cursor: pointer;
  display: flex;
  gap: 0.5em;
  margin-right: auto;
}
.nav-bar-loginBtn, .nav-bar-signupBtn, .nav-bar-langBtn {
  display: none;
}
.nav-bar-drop-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.162);
  position: absolute;
  top: 3.6em;
  left: 0;
}
.nav-bar-drop-items {
  position: absolute;
  top: -5px;
  right: 4em;
  background: white;
  width: 170px;
  padding: 1em;
  border-radius: 9px;
  box-shadow: 0 -1px 12px 0px lightgray;
}
.nav-bar-drop-single-item {
  padding: 0.8em;
  border-radius: 9px;
}
.nav-bar-drop-single-item a {
  display: flex;
  gap: 2em;
}
.nav-bar-drop-single-item:hover {
  background-color: #fdf2f7;
}
.nav-bar-drop-single-item:active {
  background-color: lightgray;
}

@media (min-width: 960px) {
  .nav-bar {
    padding-inline: 4em;
  }
  .nav-bar-menu {
    display: none;
  }
  .nav-bar-loginBtn, .nav-bar-signupBtn, .nav-bar-langBtn {
    display: inline;
  }
  .nav-bar-langBtn button {
    display: flex;
    padding-inline: 0.5em;
    gap: 0.5em;
  }
}
.cities {
  width: 100vw;
  margin-top: 200px;
}
.cities-title {
  text-align: center;
}
.cities-grid {
  display: grid;
  gap: 20px;
  padding: 5% 5%;
}
.cities-grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 9px;
}
.cities-grid-item img {
  width: 100%;
  border-radius: 9px;
  transition: transform 0.4s ease;
}
.cities-grid-item img:hover {
  transform: scale(1.05);
}
.cities-grid-item-caption {
  position: absolute;
  bottom: 10%;
  left: 3%;
  background-color: white;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 764px) {
  .cities-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 765px) and (max-width: 1256px) {
  .cities-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1257px) {
  .cities-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.app-ad {
  background: rgb(238, 4, 129);
  color: white;
  max-height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  padding: 0 1em;
  margin-bottom: 100px;
}
.app-ad-main-title {
  margin-left: 0.5em;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.app-ad-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.app-ad-content h3 {
  margin-top: 20px;
  font-size: 1.25rem;
}
.app-ad-content-fingrtips p {
  font-size: 0.95rem;
  line-height: 1.6;
  font-weight: 500;
}
.app-ad-content-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
.app-ad-content-qrcode {
  display: none;
}
.app-ad-main-image img {
  width: min(600px, 100%);
}

@media (min-width: 904px) {
  .app-ad {
    color: white;
    max-height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 1em;
  }
  .app-ad-content {
    gap: 3rem;
  }
  .app-ad-content-title {
    width: 100%;
  }
  .app-ad-content-title h3 {
    margin-top: auto;
    text-align: start;
  }
  .app-ad-content-fingrtips {
    display: flex;
    gap: 1em;
    align-items: center;
  }
  .app-ad-content-fingrtips p {
    margin-left: auto;
    text-align: start;
  }
  .app-ad-content-qrcode {
    width: 250px;
    height: 90px;
    border: 1px solid white;
    display: grid;
    place-items: center;
  }
  .app-ad-main-image {
    display: grid;
    place-items: center;
  }
}
footer {
  font-size: 1rem;
  font-weight: 500;
}
footer .upper-footer-list {
  display: flex;
  flex-wrap: wrap;
}
footer .upper-footer-list-item {
  border-right: 1px solid gray;
  padding: 0px 1em;
}
footer .upper-footer-list-item:last-child {
  border: none;
}
footer .upper-footer-list-item a {
  border-bottom: 1px solid gray;
  transition: 0.6s;
}
footer .upper-footer-list-item a:hover {
  border-bottom: 4px solid black;
}
footer .middle-footer-list {
  -moz-columns: 300px;
       columns: 300px;
  margin: 0 auto;
  text-align: center;
}
footer .middle-footer-list-item {
  margin-top: 1em;
}
footer .middle-footer-list-item a {
  border-bottom: 1px solid gray;
  transition: 0.6s;
}
footer .middle-footer-list-item a:hover {
  border-bottom: 4px solid black;
}
footer .middle-footer-list button {
  padding-inline: 2em;
}
footer .lower-footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
footer .lower-footer-social {
  display: flex;
  gap: 0.85em;
}
footer .lower-footer-social-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
footer .lower-footer-social-icon::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
  border: 1px solid gray;
}
footer .lower-footer-social-icon:hover::after {
  transform: scale(1.2);
}
footer .line {
  border-top: 1px solid rgb(243, 243, 243);
  margin: 3em max(1em, 4%);
  padding-top: 2em;
}

.panda {
  display: flex;
  gap: 5px;
}

.panda-copyright {
  margin-top: 1em;
  font-size: 0.95rem;
  color: rgb(180, 175, 175);
}

@media (width >= 528px) {
  .lower-footer {
    flex-direction: row !important;
    gap: 0 !important;
  }
  .lower-footer-social {
    position: absolute;
    right: 5%;
  }
  .deliveryhero {
    margin-right: auto;
    border-left: 1px solid black;
    padding-left: 5px;
  }
  .panda {
    padding-right: 5px;
  }
}
.vendor {
  position: relative;
}
.vendor-title h1 {
  font-family: "Open Sans";
  font-size: 1.75rem;
  line-height: 1.333333333;
  font-weight: 700;
  font-feature-settings: "ss09", "ss11";
  margin-block-end: 20px;
  margin-left: 5px;
}
.vendor-img {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 540px;
}
.vendor-img img {
  min-width: 794px;
}
.vendor-detail {
  position: absolute;
  background: white;
  width: min(500px, 79%);
  bottom: -22%;
  left: 12%;
  border-radius: 5px;
  padding: 18px;
  box-shadow: 0px 0px 11px -4px gray;
}
.vendor-detail > * + * {
  margin-top: 16px;
}
.vendor-detail h3 {
  font-size: 1.3em;
}
.vendor-detail p {
  font-family: "Open Sans";
  font-size: 0.859em;
  font-weight: 400;
}

.extra-detail {
  margin: 200px auto;
  padding-inline: max(5%, 6px);
  text-wrap: balance;
}
.extra-detail h3 {
  margin-bottom: 10px;
  font-size: 1.125rem;
}

.menu {
  background: white;
  position: absolute;
  top: 0;
  padding: 4.1em 1em;
  width: 100%;
  height: 100vh;
  transition: transform 0.5s ease;
}
.menu-display {
  display: inline;
}
.menu-cancel {
  position: absolute;
  right: 1em;
  top: 1em;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}
.menu-cancel::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}
.menu-cancel:hover::after {
  background-color: #dcdcdc;
  transform: scale(1.2);
  z-index: -2;
}
.menu-single-item {
  border-radius: 9px;
  display: flex;
  padding: 0.8em 0.5em;
  gap: 0.5em;
}
.menu-single-item h4 {
  color: #333333;
  font-weight: 600;
  font-size: 0.9em;
}
.menu-single-item:nth-child(7) {
  border-top: 1px solid lightgray !important;
  border-radius: 0;
}
.menu-single-item:hover {
  background-color: #fdf2f7;
}
.menu-drop {
  flex-grow: 1;
}
.menu-drop-content {
  flex-grow: 1;
  display: flex;
}
.menu-drop-content-dropIcon {
  margin-left: auto;
}
.menu-drop-items {
  flex-grow: 1;
  margin: 1em;
}
.menu-drop-single-item {
  display: flex;
  padding: 0.8em 0.8em;
  border-radius: 9px;
}
.menu-drop-single-item:hover {
  background-color: white;
}
.menu-drop-single-item h4 {
  margin-inline-end: auto;
}

@media (min-width: 964px) {
  .menu {
    width: 312px;
    border-radius: 9px;
    top: 3.2em;
    right: 5em;
    padding: 1em 1em;
    box-shadow: 0 -1px 12px 0px lightgray;
    height: -moz-max-content;
    height: max-content;
  }
  .menu-cancel {
    display: none;
  }
  .menu-single-item:nth-child(7) {
    border-top: 1px solid lightgray !important;
    padding-block: 0;
  }
  .menu-drop-content {
    display: none;
  }
  .menu-drop-items {
    display: none;
  }
}
@font-face {
  font-family: "Agrandir";
  src: url("../public/fonts/Agrandir-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Open Sans", sans-serif;
}

main {
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.btn {
  border-radius: 10px;
  font-family: "Open Sans";
  position: relative;
  transition: 0.3s;
  z-index: 1;
}
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s;
}
.btn:hover::after {
  transform: scale(1.1);
  z-index: -1;
}
.btn-md {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.57;
  padding: 0.3em 1.2em;
}
.btn-lg {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.65em 0.85em;
}
.btn-white {
  color: #39434D;
  background-color: transparent;
  border: none;
}
.btn-white:hover::after {
  background-color: rgb(238, 235, 235);
}
.btn-pink {
  background-color: #e21b70;
  border: none;
  color: white;
}
.btn-pink:hover::after {
  background-color: #c21760;
}
.btn-border::after {
  border: 1px solid gray;
}

.pink-icon {
  filter: invert(30%) sepia(100%) saturate(1000%) hue-rotate(290deg) brightness(90%) contrast(85%);
  font-weight: bold;
}

.charcoal-icon {
  filter: brightness(0) saturate(100%) invert(19%) sepia(0%) saturate(0%) hue-rotate(197deg) brightness(95%) contrast(92%);
}

.violet-icon {
  filter: brightness(0) saturate(100%) invert(18%) sepia(86%) saturate(4671%) hue-rotate(272deg) brightness(87%) contrast(106%);
}/*# sourceMappingURL=index.css.map */