@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.prev-button, .dish-prev-button {
  bottom: -1.1em;
  left: 0.5em;
}

.next-button, .dish-next-button {
  bottom: -1.1em;
  right: 0.5em;
}

.next-button, .dish-next-button,
.prev-button,
.dish-prev-button {
  position: absolute;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 0;
}
.next-button::after, .dish-next-button::after,
.prev-button::after,
.dish-prev-button::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
  border: 1px solid gray;
}
.next-button:hover::after, .dish-next-button:hover::after,
.prev-button:hover::after,
.dish-prev-button:hover::after {
  transform: scale(1.2);
}

.breadcrumbs {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;
}
.breadcrumbs li {
  display: flex;
  gap: 0.5em;
  font-size: 0.825em;
}
.breadcrumbs li p {
  font-family: "Open Sans";
  font-weight: 400;
}

.breadcrumbs-link, .dish-navlinks li {
  background: none;
  border-bottom: 1px solid black;
  position: relative;
}
.breadcrumbs-link::before, .dish-navlinks li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 9px;
  width: 0; /* Start with 0 width */
  height: 2px;
  background-color: black;
  transition: width 0.2s ease; /* Smooth transition */
}
.breadcrumbs-link:hover::before, .dish-navlinks li:hover::before {
  width: 100%; /* Change width on hover */
}

.navmenu {
  background: white;
  position: absolute;
  top: 0;
  padding: 4.1em 1em;
  width: 100%;
  height: 100vh;
  transition: transform 0.5s ease;
  z-index: 10;
}
.navmenu-display {
  display: inline;
}
.navmenu-cancel {
  position: absolute;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 0;
  right: 1em;
  top: 1em;
}
.navmenu-cancel::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}
.navmenu-cancel:hover::after {
  background-color: #e2dddd;
  transform: scale(1.2);
  z-index: -2;
}
.navmenu-single-item {
  border-radius: 9px;
  display: flex;
  padding: 0.8em 0.5em;
  gap: 0.5em;
}
.navmenu-single-item h4 {
  color: #333333;
  font-weight: 600;
  font-size: 0.9em;
}
.navmenu-single-item:nth-child(7) {
  border-top: 1px solid lightgray !important;
  border-radius: 0;
}
.navmenu-single-item:hover {
  background-color: #fdf2f7;
}
.navmenu-drop {
  flex-grow: 1;
}
.navmenu-drop-content {
  flex-grow: 1;
  display: flex;
}
.navmenu-drop-content-dropIcon {
  margin-left: auto;
}
.navmenu-drop-items {
  flex-grow: 1;
  margin: 1em;
}
.navmenu-drop-single-item {
  display: flex;
  padding: 0.8em 0.8em;
  border-radius: 9px;
}
.navmenu-drop-single-item:hover {
  background-color: white;
}
.navmenu-drop-single-item h4 {
  margin-inline-end: auto;
}

@media (min-width: 964px) {
  .navmenu {
    width: 312px;
    border-radius: 9px;
    top: 3.2em;
    right: 5em;
    padding: 1em 1em;
    box-shadow: 0 -1px 12px 0px #f8ecec;
    height: -moz-max-content;
    height: max-content;
  }
  .navmenu-cancel {
    display: none;
  }
  .navmenu-single-item:nth-child(7) {
    border-top: 1px solid lightgray !important;
    padding-block: 0;
  }
  .navmenu-drop-content {
    display: none;
  }
  .navmenu-drop-items {
    display: none;
  }
}
.signin {
  position: fixed;
  width: 100vw;
  height: 100svh;
  top: 0;
  z-index: 20;
  background-color: rgba(51, 51, 51, 0.262745098);
}
.signin-container {
  background: white;
  top: initial;
  height: 78svh;
  z-index: 10;
  width: 100%;
  padding: 2em;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  box-shadow: 0px -30px 600px rgba(0, 0, 0, 0.249);
}
.signin-cancel, .popup-item-cross {
  position: absolute;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 0;
  right: 1em;
  top: 1em;
}
.signin-cancel::after, .popup-item-cross::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
  border: 1px solid gray;
}
.signin-cancel:hover::after, .popup-item-cross:hover::after {
  transform: scale(1.2);
}
.signin-welcome {
  color: #333333;
}
.signin-welcome p {
  font-size: 0.9em;
  font-weight: 450;
}
.signin-welcome > * + * {
  margin-top: 0.75em;
}
.signin-buttons {
  margin-block-start: 2em;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.signin-buttons > * + * {
  margin-block-start: 1em;
}
.signin-buttons button {
  width: 100%;
}
.signin-buttons p {
  text-align: center;
  width: 100%;
  font-size: 0.75em;
  font-weight: 400;
}
.signin-fb, .signin-google, .signin-apple {
  font-size: 0.857em;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  font-family: "Open Sans";
  padding: 0.75em;
}
.signin-fb {
  background: #1877f2;
  color: white;
  background-image: url(https://micro-assets.foodora.com/2c23276d7d8b7c71e9906642f00902d6.svg);
}
.signin-fb:hover {
  background-color: #80ade8;
}
.signin-google {
  background: white;
  border: 1px solid;
}
.signin-apple {
  background: black;
  color: white;
  background-image: url(https://micro-assets.foodora.com/7f655b37a7f075939cccb8080358cfae.svg);
}
.signin-apple, .signin-fb {
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.5em;
}
.signin-terms {
  font-weight: 550;
  color: #676161;
}
.signin-terms span {
  color: #ff2b85;
}

@media (min-width: 525px) {
  .signin {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signin-container {
    position: relative;
    width: 384px;
    height: -moz-max-content;
    height: max-content;
    border-radius: 9px;
  }
}
.email-placeholder {
  position: absolute;
  bottom: 4.3em;
  left: 1em;
  background: white;
  transition: 0.1s;
  font-size: 1em;
}

.signin-backward {
  margin-bottom: 2em;
  position: relative;
  top: -0.75em;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-backward::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}
.signin-backward:hover::after {
  background-color: #e2dddd;
  transform: scale(1.3);
  z-index: -1;
}
.signin-buttons input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.6em;
  outline: none;
  padding-inline: 1em;
  font-size: 1em;
  font-weight: lighter;
  font-family: "Open Sans";
  width: 100%;
  cursor: pointer;
}
.signin-buttons input:not(:-moz-placeholder-shown) + .email-placeholder {
  font-size: 0.65em;
  bottom: 9.1em;
  left: 1em;
  background-color: rgb(255, 252, 252);
  font-weight: 500;
}
.signin-buttons input:focus + .email-placeholder, .signin-buttons input:not(:placeholder-shown) + .email-placeholder {
  font-size: 0.65em;
  bottom: 9.1em;
  left: 1em;
  background-color: rgb(255, 252, 252);
  font-weight: 500;
}

.dot-container {
  display: flex;
  gap: 0.3em;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: full;
  background-color: #eb8999;
  border-radius: 50%;
  animation: bounce 0.4s infinite alternate ease;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-7px);
  }
}
.card {
  padding: 1em;
  position: relative;
  border: 0.5px solid #d3d0d0;
  border-radius: 9px;
  height: 104px;
  min-width: 280px;
  width: 280px;
  transition: transform 0.3s ease; /* Smooth transition for hover */
}
.card::before,
.card .stamp::before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
  border-radius: 9px;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.card:hover::before {
  background-color: pink;
  transform: scale(1.04);
  z-index: -1;
}
.card:hover {
  border: none;
  background-color: transparent;
}
.card:hover .card-icon-left {
  transform: translateX(-0.4em);
  border: none;
}
.card:hover .card-icon-right {
  transform: translateX(0.4em);
  border: none;
}
.card:hover .stamp-icon-container,
.card:hover .pro-icon-container,
.card:hover .discount-icon-container {
  transform: translateX(0.3em);
  border: none;
}
.card-offer {
  display: flex;
}
.card-offer h4 {
  font-size: 0.88em;
  margin-left: 0.5em;
}
.card-details {
  font-size: 0.75em;
}
.card-icon-left, .card-icon-right {
  position: absolute;
  top: 60%;
  background-color: white;
  border-radius: 50%;
  border-color: #d3d0d0;
  transition: transform 0.3s ease; /* Smooth transition for hover */
}
.card-icon-left {
  left: -0.57em;
  border-right: 0.5px solid;
  border-left: none;
}
.card-icon-right {
  right: -0.57em;
  border-left: 0.5px solid;
  border-right: none;
}
.card-icon-pro {
  opacity: 0.5;
}

.stamp {
  border: none;
  background: #ffedc6;
}
.stamp-icon {
  opacity: 0.5;
}
.stamp-icon-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.stamp:hover::before {
  background-color: #fee1a2;
  transform: scale(1.04);
  z-index: -1;
}

.cutout h4 {
  color: deeppink;
}

.pro {
  border: none;
  background: #f9f7f7;
}
.pro-header-icon {
  position: relative;
  top: 0.4em;
  background-color: #5c1d94;
  color: white;
  font-size: 0.67em;
  font-weight: 500;
  display: flex;
  gap: 0.2em;
  border-radius: 5px;
  height: 17px;
  padding: 0em 0.4em;
}
.pro-header-icon img {
  height: 14px;
}
.pro:hover::before {
  background-color: #e7e5e5;
  transform: scale(1.04);
  z-index: -1;
}
.pro-icon {
  opacity: 0.2;
}
.pro-icon-container {
  position: absolute;
  bottom: -0.5em;
  right: 0;
  width: 60px;
  height: 50px;
  overflow: hidden;
}
.pro h4 {
  color: #333;
}

.discount {
  border: none;
  background: #ffecef;
}
.discount h4 {
  color: deeppink;
}
.discount-icon {
  opacity: 0.5;
}
.discount-icon-container {
  position: absolute;
  bottom: -0.2em;
  right: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.discount:hover::before {
  background-color: #fedfe3 !important;
  transform: scale(1.04);
  z-index: -1;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.179);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media (min-width: 530px) {
  .popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-popup-content {
  background-color: white;
  position: relative;
  padding: 1em 1em;
  border-radius: 9px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
.card-popup-content > * + * {
  margin-top: 1.7em;
}
.card-popup-content h2 {
  font-size: 1.2em;
}
.card-popup-content h1 {
  font-size: 2em;
}
@media (min-width: 530px) and (max-width: 764px) {
  .card-popup-content {
    max-width: 430px;
    max-height: 80%;
    padding: 1.3em 1.5em;
  }
}
@media (min-width: 765px) {
  .card-popup-content {
    max-width: 550px;
    max-height: 80%;
    padding: 1.3em 1.5em;
  }
}
.card-popup-title {
  display: flex;
  gap: 0.7em;
  align-items: center;
  flex-wrap: wrap;
}
.card-popup-title-icon {
  width: -moz-fit-content;
  width: fit-content;
  top: 0;
}
.card-popup-description {
  font-size: 0.9em;
  font-weight: 500;
  color: #333;
}
.card-popup-description > * + * {
  margin-top: 1em;
}
.card-popup-description p,
.card-popup-description button {
  padding-inline: 0.1em;
}
.card-popup-description button {
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-weight: 650;
}
.card-popup-dropdown {
  padding: 0.5em 1.9em;
  transition: 0.4s ease;
}
.card-popup-dropdown li {
  list-style-type: initial;
}
.card-popup-end {
  display: flex;
  border-top: 1px solid;
  padding: 0.5em 1em;
  gap: 1em;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.popup-item {
  background-color: white;
  height: calc(100% - 150px);
  position: relative;
}
.popup-item-cross {
  right: 2em;
}
.popup-item-cross::after {
  background-color: white;
}
.popup-item-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 76px);
}
.popup-item-content > *:not(picture) {
  padding: 1em;
  border-bottom: 1px solid rgb(237, 234, 234);
}
.popup-item-content picture {
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;
  align-items: center;
  overflow: hidden;
}
.popup-item-content picture img {
  max-width: 100%;
}
.popup-item-description h3 {
  display: flex;
  gap: 1em;
  color: #333;
}
.popup-item-description h3 strong {
  color: #e21b70;
}
.popup-item-description h3 span:first-of-type {
  color: #707070;
  font-weight: 400;
  text-decoration: line-through;
}
.popup-item-description h3 span:last-of-type {
  font-family: "Agrandir";
  font-weight: 400;
}
.popup-item-description p {
  font-size: 0.9em;
  font-weight: 400;
  color: black;
  line-height: 1.7;
  font-size: 0.9em;
  font-weight: 550;
  color: #4f4f4f;
}
.popup-item-selection, .popup-item-suggestion {
  position: relative;
}
.popup-item-selection summary span, .popup-item-suggestion summary span {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #f7f7f7;
  border-radius: 10px;
  font-size: 0.7em;
  font-weight: bold;
  color: #707070;
  padding: 0.3em;
}
.popup-item-selection p, .popup-item-suggestion p {
  font-size: 0.9em;
  font-weight: 600;
  color: #333;
  line-height: 1.7;
}
.popup-item-selection li, .popup-item-suggestion li {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-inline: 1em;
  position: relative;
}
.popup-item-selection li:hover, .popup-item-suggestion li:hover {
  background-color: #f7f7f7;
}
.popup-item-selection li:hover label, .popup-item-suggestion li:hover label {
  box-shadow: inset 2px 2px black, inset -2px -2px #333;
}
.popup-item-selection li input[type=checkbox], .popup-item-suggestion li input[type=checkbox] {
  width: 20px;
  height: 20px;
  transform: scale(1);
  position: absolute;
  opacity: 0;
}
.popup-item-selection li input:checked + label, .popup-item-suggestion li input:checked + label {
  box-shadow: inset 2px 2px #333, inset -2px -2px #333;
}
.popup-item-selection li input:checked + label svg, .popup-item-suggestion li input:checked + label svg {
  display: block;
}
.popup-item-selection li p:last-of-type, .popup-item-suggestion li p:last-of-type {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-item-selection li p:last-of-type span:last-of-type, .popup-item-suggestion li p:last-of-type span:last-of-type {
  text-decoration: line-through;
  color: #707070;
}
.popup-item-selection li label, .popup-item-suggestion li label {
  display: flex;
  height: 20px;
  width: 20px;
  border: 2px solid;
  border-radius: 3px;
  border-color: #3d3d3d;
  transition: 0.1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-item-selection li label svg, .popup-item-suggestion li label svg {
  font-size: 33px;
  display: none;
}
.popup-item-selection, .popup-item-suggestion {
  position: relative;
}
.popup-item-selection summary span, .popup-item-suggestion summary span {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #f7f7f7;
  border-radius: 10px;
  font-size: 0.7em;
  font-weight: bold;
  color: #707070;
  padding: 0.3em;
}
.popup-item-selection p, .popup-item-suggestion p {
  font-size: 0.9em;
  font-weight: 600;
  color: #333;
  line-height: 1.7;
}
.popup-item-selection li, .popup-item-suggestion li {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-inline: 1em;
  position: relative;
}
.popup-item-selection li:hover, .popup-item-suggestion li:hover {
  background-color: #f7f7f7;
}
.popup-item-selection li:hover label, .popup-item-suggestion li:hover label {
  box-shadow: inset 2px 2px black, inset -2px -2px #333;
}
.popup-item-selection li input[type=checkbox], .popup-item-suggestion li input[type=checkbox] {
  width: 20px;
  height: 20px;
  transform: scale(1);
  position: absolute;
  opacity: 0;
}
.popup-item-selection li input:checked + label, .popup-item-suggestion li input:checked + label {
  box-shadow: inset 2px 2px #333, inset -2px -2px #333;
}
.popup-item-selection li input:checked + label svg, .popup-item-suggestion li input:checked + label svg {
  display: block;
}
.popup-item-selection li p:last-of-type, .popup-item-suggestion li p:last-of-type {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-item-selection li p:last-of-type span:last-of-type, .popup-item-suggestion li p:last-of-type span:last-of-type {
  text-decoration: line-through;
  color: #707070;
}
.popup-item-selection li label, .popup-item-suggestion li label {
  display: flex;
  height: 20px;
  width: 20px;
  border: 2px solid;
  border-radius: 3px;
  border-color: #3d3d3d;
  transition: 0.1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-item-selection li label svg, .popup-item-suggestion li label svg {
  font-size: 33px;
  display: none;
}
.popup-item-orderActions p {
  font-size: 0.9em;
  font-weight: 500;
  color: black;
  line-height: 1.7;
}
.popup-item-orderActions textarea {
  width: 100%;
  height: 84px;
  padding: 0.5em;
  resize: none;
  font-family: "Open Sans";
  padding: 0.5em;
  font-weight: 300;
  font-size: 0.9em;
  border-color: lightgray;
  border-radius: 9px;
}
.popup-item-orderActions select {
  width: 100%;
  padding: 0.5em;
  resize: none;
  font-family: "Open Sans";
  padding: 0.5em;
  font-weight: 400;
  font-size: 0.9em;
}
.popup-item footer {
  display: flex;
  height: 75px;
  padding: 1em;
  justify-content: space-around;
}
.popup-item footer div {
  display: flex;
  width: 20%;
}
.popup-item footer div button {
  font-size: 1.5em;
}
.popup-item footer button {
  width: 60%;
}

.nav {
  box-shadow: 1px -5px 20px 0px #9f8a8a;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1em;
  padding: 0.75em;
  position: relative;
}
.nav-bar-menu {
  margin-right: auto;
}
.nav-bar-menu-downarrow, .nav-bar-menu-username {
  display: none;
}
.nav-bar-menu, .nav-bar-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
  gap: 0.2em;
  z-index: 2;
}
.nav-bar-menu::after, .nav-bar-cart::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease;
}
.nav-bar-menu:hover::after, .nav-bar-cart:hover::after {
  background-color: #e2dddd;
  transform: scale(1.3);
  z-index: -1;
}
.nav-bar-logo {
  cursor: pointer;
  display: flex;
  gap: 0.5em;
  margin-right: auto;
}
.nav-bar-location {
  order: 4;
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-bar-location-content {
  display: flex;
  gap: 0.3em;
  padding: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 9px;
}
.nav-bar-location-content:hover {
  background-color: #ddd;
}
.nav-bar-loginBtn, .nav-bar-signupBtn, .nav-bar-langBtn {
  display: none;
}
.nav-bar-drop-items {
  position: absolute;
  top: 54px;
  right: 4em;
  background: white;
  width: 170px;
  padding: 1em;
  border-radius: 9px;
  box-shadow: 0 -1px 12px 0px #f2ecec;
}
.nav-bar-drop-single-item {
  padding: 0.8em;
  border-radius: 9px;
}
.nav-bar-drop-single-item a {
  display: flex;
  gap: 2em;
}
.nav-bar-drop-single-item:hover {
  background-color: #fdf2f7;
}
.nav-bar-drop-single-item:active {
  background-color: lightgray;
}

@media (min-width: 960px) {
  .nav-bar {
    padding-inline: 4em;
  }
  .nav-bar-logo {
    margin-inline-end: auto;
    order: 1;
  }
  .nav-bar-location {
    margin-inline: auto;
    order: 2;
    width: -moz-max-content;
    width: max-content;
  }
  .nav-bar-menu {
    margin-inline: initial;
    margin-right: 2em;
    order: 3;
  }
  .nav-bar-menu-downarrow, .nav-bar-menu-username {
    display: initial;
  }
  .nav-bar-menu::after {
    height: 1.5em;
    width: 78px;
    border-radius: 9px;
    top: 19%;
    left: -71%;
  }
  .nav-bar-menu:hover::after {
    background-color: #e2dddd;
    transform: scale(1.5);
    z-index: -1;
  }
  .nav-bar-loginBtn, .nav-bar-signupBtn {
    display: none;
  }
  .nav-bar-langBtn {
    display: inline;
    order: 4;
  }
  .nav-bar-cart {
    order: 5;
  }
  .nav-bar-langBtn button {
    display: flex;
    padding-inline: 0.5em;
    gap: 0.5em;
  }
}
.lower-nav-bar {
  display: flex;
  padding-left: 1em;
}
.lower-nav-bar-content {
  display: flex;
  padding: 1em;
  gap: 1em 0.5em;
  background: none;
  border: none;
  align-items: center;
  font-size: 0.8em;
  color: #656161;
  font-family: "Open Sans";
  font-weight: 500;
  border-radius: 2px;
  position: relative;
}
.lower-nav-bar-content::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 9px;
  width: 0; /* Start with 0 width */
  height: 4px;
  background-color: black;
  transition: width 0.3s ease; /* Smooth transition */
}
.lower-nav-bar-content:hover::before {
  width: 50%; /* Change width on hover */
}
.lower-nav-bar-content:focus::before {
  width: 100%; /* Change width on hover */
}
.lower-nav-bar-content:hover {
  background-color: #ddd;
}
.lower-nav-bar-content:focus {
  color: black;
}

@media (min-width: 960px) {
  .lower-nav-bar {
    padding-inline: 4em;
  }
  .lower-nav-bar-content {
    font-size: 0.9em;
  }
}
footer {
  font-size: 1rem;
  font-weight: 500;
}
footer .upper-footer-list {
  display: flex;
  flex-wrap: wrap;
}
footer .upper-footer-list-item {
  border-right: 1px solid gray;
  padding: 0px 1em;
}
footer .upper-footer-list-item:last-child {
  border: none;
}
footer .upper-footer-list-item a {
  border-bottom: 1px solid gray;
  transition: 0.6s;
}
footer .upper-footer-list-item a:hover {
  border-bottom: 4px solid black;
}
footer .middle-footer-list {
  -moz-columns: 300px;
       columns: 300px;
  margin: 0.5em auto;
  text-align: center;
}
footer .middle-footer-list-item {
  margin-top: 1em;
}
footer .middle-footer-list-item a {
  border-bottom: 1px solid gray;
  transition: 0.6s;
}
footer .middle-footer-list-item a:hover {
  border-bottom: 4px solid black;
}
footer .middle-footer-list button {
  padding-inline: 2em;
}
footer .lower-footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
footer .lower-footer-social {
  display: flex;
  gap: 0.85em;
}
footer .lower-footer-social-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
footer .lower-footer-social-icon::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
  border: 1px solid gray;
}
footer .lower-footer-social-icon:hover::after {
  transform: scale(1.2);
}
footer .line {
  border-top: 1px solid rgb(243, 243, 243);
  margin: 3em max(1em, 4%);
  padding-top: 2em;
}

.panda {
  display: flex;
  gap: 5px;
}

.panda-copyright {
  margin-top: 1em;
  font-size: 0.95rem;
  color: rgb(180, 175, 175);
}

@media (width >= 528px) {
  .lower-footer {
    flex-direction: row !important;
    gap: 0 !important;
  }
  .lower-footer-social {
    position: absolute;
    right: 5%;
  }
  .deliveryhero {
    margin-right: auto;
    border-left: 1px solid black;
    padding-left: 5px;
  }
  .panda {
    padding-right: 5px;
  }
}
.extra-detail {
  margin: 1em auto;
  padding-inline: max(5%, 6px);
  text-wrap: balance;
}
.extra-detail h3 {
  font-size: 1em;
  margin-bottom: 0.5em;
}
.extra-detail p {
  font-size: 0.8em;
  font-weight: 400;
  color: #333333;
}

@media (min-width: 700px) {
  .extra-detail h3 {
    font-size: 1.5em;
    margin-bottom: 0.65em;
  }
  .extra-detail p {
    font-size: 1em;
    font-weight: 400;
  }
}
@media (min-width: 700px) {
  .extra-detail h3 {
    font-size: 1.5em;
    margin-bottom: 0.65em;
  }
  .extra-detail p {
    font-size: 1em;
    font-weight: 400;
  }
}
.vendor {
  position: relative;
}
.vendor-title h1 {
  font-family: "Open Sans";
  font-size: 1.75rem;
  line-height: 1.333333333;
  font-weight: 700;
  font-feature-settings: "ss09", "ss11";
  margin-block-end: 20px;
  margin-left: 5px;
}
.vendor-img {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 540px;
}
.vendor-img img {
  min-width: 794px;
}
.vendor-detail {
  position: absolute;
  background: white;
  width: min(500px, 79%);
  bottom: -22%;
  left: 12%;
  border-radius: 5px;
  padding: 18px;
  box-shadow: 0px 0px 11px -4px gray;
}
.vendor-detail > * + * {
  margin-top: 16px;
}
.vendor-detail h3 {
  font-size: 1.3em;
}
.vendor-detail p {
  font-family: "Open Sans";
  font-size: 0.859em;
  font-weight: 400;
}

.cart {
  position: sticky;
  top: 10em;
  min-width: 350px;
  border: 1px solid #c9c9c9;
  border-radius: 9px;
  height: calc(100vh - 170px);
}
.cart header {
  display: none;
}
.cart p {
  font-size: 0.9em;
  font-weight: 400;
  color: black;
  line-height: 1.7;
}
.cart-tabs {
  background-color: #f1f0f0;
  height: 68px;
  margin: 0 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 63px;
  place-content: center;
  -moz-column-gap: 0em;
       column-gap: 0em;
  margin-top: 0.5em;
  padding: 0 0.1em;
}
.cart-tabs button {
  font-size: 0.92em;
  color: #333333;
  font-family: "Open Sans";
  border: none;
  font-weight: 550;
}
.cart-empty {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 1em;
  gap: 0.5em;
  text-align: center;
}
.cart-empty p {
  color: #908d8d;
  font-size: 0.87em;
}
.cart-content {
  border-radius: inherit;
  gap: 0.5em;
  max-height: calc(100% - 144px);
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 350px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.cart-content > * {
  padding: 1em;
}
.cart-content > * + *:not(.cart-items):not(.cart-suggestItems) {
  border-top: 1px solid #e7e5e5;
}
.cart-items, .cart-suggestItems {
  max-width: 350px;
}
.cart-items > * + *, .cart-suggestItems > * + * {
  margin-top: 1.5em;
}
.cart-singleItem {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5em;
}
.cart-order-info, .cart-suggestItems-info {
  display: flex;
  gap: 1em;
  max-width: 100%;
  padding-inline: 0.3em;
}
.cart-order-info img, .cart-suggestItems-info img {
  border-radius: 9px;
}
.cart-order-text {
  text-overflow: ellipsis;
}
.cart-order-text p {
  font-size: 0.9em;
  font-weight: 600;
  color: black;
  line-height: 1.7;
}
.cart-order-text p:nth-of-type(2) {
  font-size: 0.8em;
  font-weight: 400;
}
.cart-order-update {
  display: flex;
  gap: 5em;
  margin-top: 1em;
  align-items: center;
}
.cart-order-update-btn {
  background-color: white;
  font-size: 1.1em;
  padding: 0.5px 0px;
  display: flex;
  gap: 0.58em;
  color: #333333;
  align-items: center;
  border: 1px solid rgb(188, 187, 187);
  border-radius: 15px;
}
.cart-order-update figure {
  font-size: 1.2em;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 0;
}
.cart-order-update figure::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s ease;
  border: none;
  z-index: -1;
}
.cart-order-update figure:hover::after {
  transform: scale(1.1);
  border: none;
  background-color: #ebe6e6;
}
.cart-toogleBtns {
  display: flex;
  position: relative;
  gap: 0.1em;
}
.cart-toogleBtns button {
  position: relative;
  border: none;
  background-color: transparent;
  top: 0.1em;
  right: 0;
}
.cart-suggestItems {
  background-color: #e7e4e4;
}
.cart-slide-container {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  box-sizing: content-box;
}
.cart-slide-container ul {
  display: flex;
  gap: 1em;
  max-width: 95%;
  padding-inline: 0.1em;
}
.cart-slide-container ul li div {
  position: relative;
}
.cart-slide-container ul li img {
  border-radius: 9px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-slide-container ul li button {
  background-color: white;
  color: deeppink;
  display: flex;
  font-weight: lighter;
  border-radius: 50%;
  border: 0.5px solid lightgrey;
  padding: 0.65em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.cart-slide-container ul li article {
  font-size: 0.75em;
  font-weight: 550;
}
.cart-slide-container ul li article p:nth-of-type(2) {
  font-weight: 400;
}
.cart-summary p {
  display: flex;
  flex-wrap: wrap;
}
.cart-summary p span:first-of-type {
  margin-right: auto;
}
.cart-summary p span:nth-of-type(3) {
  font-size: 0.9em;
  font-weight: 400;
  color: #767676;
  line-height: 1.7;
  margin-bottom: 0.5em;
}
.cart-summary p .pink-text {
  color: deeppink;
}
.cart-cutlery {
  display: flex;
  gap: 1.5em;
}
.cart-cutlery p {
  font-weight: 600;
}
.cart-cutlery p:last-of-type {
  font-size: 0.75em;
  font-weight: 400;
}
.cart-cutlery svg {
  font-size: 1.5em;
  stroke-width: 1;
}
.cart footer {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: inherit;
  padding: 1em 1em;
  box-shadow: 0px -0.5px 5px rgb(201, 201, 201);
}
.cart footer summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart footer summary span {
  font-size: 0.85em;
  font-weight: 450;
  color: #8f8e8f;
}
.cart footer summary p {
  font-size: 0.9em;
  font-weight: 600;
  color: black;
  line-height: 1.7;
}
.cart footer a {
  font-size: 0.9em;
  font-weight: 600;
  color: black;
  line-height: 1.7;
  text-decoration: underline;
}
.cart footer > * + * {
  margin-top: 1em;
}
.cart footer button {
  width: 100%;
  border-radius: 5px;
}

.cart-goto {
  background-color: white;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-inline: 1em;
  display: grid;
  place-items: center;
}
.cart-goto button {
  margin: auto;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-block: 1em;
}
.cart-goto button figure {
  display: flex;
  gap: 0.3em;
  align-items: center;
}
.cart-goto button figure svg,
.cart-goto button figure p {
  font-size: 1.3em;
}
@media (min-width: 960px) {
  .cart-goto {
    display: none;
  }
}

@media (max-width: 959px) {
  .cart {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    border-radius: 0%;
    background-color: white;
  }
  .cart-content {
    min-width: 100%;
    max-height: calc(100% - 225px);
    box-sizing: content-box;
  }
  .cart-summary p span:nth-of-type(3) {
    flex-basis: 100%;
  }
  .cart header {
    background-color: white;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    padding-right: 2em;
    width: 100%;
    top: 0;
    left: 0;
  }
  .cart header figure {
    padding: 0.4em;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;
  }
  .cart header figure::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease;
    border: 1px solid lightgray;
    z-index: -1;
  }
  .cart header figure:hover::after {
    transform: scale(1.1);
    border: 1px solid lightgray;
    background-color: white;
  }
  .cart-tabs {
    grid-template-columns: 1fr 1fr;
    padding-inline: 0.1em;
  }
  .cart-items, .cart-suggestItems {
    max-width: 100%;
  }
  .cart-order-info, .cart-suggestItems-info {
    flex-basis: content;
  }
  .cart-order-text {
    flex-basis: 100%;
  }
  .cart-order-update {
    justify-content: space-between;
  }
  .cart-cutlery {
    height: 150px;
  }
  .cart footer {
    width: 100%;
    margin-inline: auto;
    position: sticky;
    bottom: 0;
    padding: 1.45em;
    z-index: 10;
  }
}
.switch-div {
  position: relative;
}
.switch-div input:checked + label::before {
  transform: translateX(14px) rotate(90deg);
}
.switch-div label {
  display: inline-block;
  width: 38px;
  height: 23.5px;
  border-radius: 5px;
  background-color: #4e4d4d;
  position: relative;
  top: -1.4em;
  cursor: pointer;
}
.switch-div label:hover {
  background-color: #373737;
}
.switch-div label::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  position: absolute;
  background-color: white;
  border-radius: 4px;
  top: 2.5px;
  left: 3px;
  transition: transform 0.3s ease;
}
@media (max-width: 959px) {
  .switch-div {
    margin-left: auto;
  }
  .switch-div input {
    display: none;
  }
  .switch-div label {
    top: 0;
    left: -1em;
    cursor: pointer;
  }
  .switch-div label::before {
    top: 2.5px;
    left: 3px;
  }
}

.restaurant-profile {
  margin-top: 2em;
  padding-inline: 1em;
  border-bottom: 1px solid lightgray;
}
.restaurant-profile-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-block: 2em;
  gap: 1em;
}
.restaurant-profile-content button {
  padding: 0.3em 0.5em !important;
}
.restaurant-profile-offer {
  flex-basis: 100%;
}
.restaurant-profile-ratings {
  margin-right: auto;
}
@media (min-width: 521px) {
  .restaurant-profile-ratings {
    margin-right: initial;
  }
}
.restaurant-profile-offer, .restaurant-profile-ratings,
.restaurant-profile .btn-flex, .restaurant-profile-avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4em;
}
.restaurant-profile-avatar {
  gap: 1em;
  align-items: flex-start;
}
.restaurant-profile-avatar img {
  width: 90px;
}
.restaurant-profile-ratings, .restaurant-profile-offer {
  font-size: 0.69em;
  font-weight: 500;
  font-family: "Open Sans";
}
.restaurant-profile-offer img {
  width: 20px;
}
.restaurant-profile-offer p:nth-of-type(1) {
  color: deeppink;
}
.restaurant-profile-offer p:nth-of-type(1) span {
  color: #333333;
  text-decoration: line-through;
}
.restaurant-profile-infoBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dot-separator {
  width: 3px;
  height: 3px;
  color: #333;
  border-radius: 50%;
}

@media (min-width: 521px) and (max-width: 964px) {
  .restaurant-profile-avatar {
    flex-basis: 100%;
  }
  .restaurant-profile-offer {
    position: absolute;
    top: 9em;
    left: 9.4em;
  }
}
@media (min-width: 965px) and (max-width: 1259px) {
  .restaurant-profile-avatar {
    flex-basis: 100%;
  }
  .restaurant-profile-avatar img {
    width: 151px;
  }
  .restaurant-profile-avatar h3 {
    font-size: 1.5em;
  }
  .restaurant-profile-offer {
    position: absolute;
    top: 9em;
    left: 11em;
    font-size: 0.95em;
  }
}
@media (min-width: 1260px) {
  .restaurant-profile-content {
    align-items: flex-end;
    gap: 2em;
  }
  .restaurant-profile-avatar img {
    width: 151px;
  }
  .restaurant-profile-avatar h3 {
    font-size: 2em;
    position: absolute;
    top: 0.99em;
    left: 5.7em;
  }
  .restaurant-profile-avatar h3 span {
    font-size: 0.5em;
  }
  .restaurant-profile-offer {
    position: absolute;
    top: 8em;
    left: 12.2em;
    font-size: 0.95em;
  }
}
.title-cuisine {
  font-size: 0.65em;
  display: block;
  font-weight: 400;
  color: #b2b1b1;
}

.available-deals {
  padding: 1em 1em;
  padding-bottom: 2.5em;
  position: relative;
  margin-bottom: 1.2em;
}
.available-deals h3 {
  font-size: 0.95em;
  padding-inline: 0.5em;
}
.available-deals-cards {
  padding-inline: 0.5em;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin-top: 2em;
}
.available-deals-content {
  gap: 2em;
  display: flex;
  align-items: center;
}

.dish {
  margin-top: 4em;
  padding: 1em 0em;
  margin-bottom: 1.2em;
}
.dish-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 1em;
  position: sticky;
  top: 6.9em;
  background-color: white;
  box-shadow: 9px 17px 20px rgb(237, 236, 236);
  z-index: 2;
  padding-inline-start: 1em;
}
.dish-navigation > * {
  cursor: pointer;
}
.dish-searchbar {
  flex-shrink: 0;
  border: 1px solid lightgray;
  border-radius: 50%;
  padding: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dish-searchbar-input {
  display: none;
}
.dish-navlinks-container {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
.dish-searchbar, .dish-prev-button, .dish-next-button {
  box-shadow: 0 0 5px lightgrey;
}
.dish-navlinks {
  display: flex;
  padding: 0 0.5em;
}
.dish-navlinks > * + * {
  margin-left: 1em;
}
.dish-navlinks li {
  white-space: nowrap;
  font-size: 0.74em;
  font-weight: 500;
  color: #837b7b;
  height: 54px;
  padding: 0 0.5em;
  outline: none;
  z-index: 0;
  display: flex;
  align-items: center;
  border-bottom: none;
}
.dish-navlinks li:hover::before {
  width: 60%; /* Change width on hover */
}
.dish-navlinks li:focus::before {
  width: 100%; /* Change width on hover */
}
.dish-navlinks li:hover {
  background-color: rgba(131, 123, 123, 0.1294117647);
}
.dish-navlinks li:focus {
  background-color: rgba(131, 123, 123, 0.1294117647);
}
.dish-prev-button {
  min-width: 32px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: 0;
  flex-shrink: 0;
}
.dish-prev-button:after {
  min-width: 32px;
  border: 1px solid lightgray;
}
.dish-next-button {
  position: relative;
  background-color: white;
  border-radius: 50%;
  top: 0;
  flex-shrink: 0;
}
.dish-next-button:after {
  border: 1px solid lightgray;
}

@media (min-width: 960px) {
  .dish-navigation {
    top: 4em;
  }
  .dish-searchbar {
    box-shadow: 0px 0px 0px white !important;
    border: none;
    background-color: white;
    border-radius: 0%;
    height: 100%;
  }
  .dish-searchbar img {
    position: absolute;
    left: 1.7em;
    max-width: 24px !important;
  }
  .dish-searchbar-input {
    display: block;
    border-radius: 15px;
    border: none;
    background-color: #eeecec;
    padding: 0.5em 2em;
    font-size: 0.95em;
    width: 200px;
  }
}
.foodMenu {
  padding-inline: 1em;
}
.foodMenu-title {
  margin-block: 1em;
}
.foodMenu-title h3 {
  text-transform: capitalize;
  color: #333333;
}
.foodMenu-content {
  display: grid;
  grid-gap: 20px; /* Ensure grid gap is applied */
}
.foodMenu-card {
  display: grid;
  grid-template-columns: auto 150px;
  align-items: center;
  padding: 0.7em;
  border-radius: 10px;
  border: 0.001em solid lightgrey;
  transition: 0.3s ease;
}
.foodMenu-card:hover {
  transform: scale(1.05);
  background-color: rgb(250, 219, 224);
}
.foodMenu-card-image {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.foodMenu-card-image img {
  max-width: 100%;
  border-radius: 10px;
}
.foodMenu-card-image button {
  position: absolute;
  bottom: 0.55em;
  right: 0.21em;
  border-radius: 50%;
  font-size: 1.5em;
  padding: 0.2em;
  display: flex;
  align-items: center;
  color: #908d8d;
  border-color: #908d8d;
  font-weight: lighter;
}

@media ((min-width: 767px) and (max-width: 959px)) or (min-width: 1265px) {
  .foodMenu-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
  }
  .foodMenu-card {
    grid-template-columns: auto 150px;
    align-items: center;
    padding: 0.7em;
  }
  .foodMenu-card-image {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .foodMenu-card-image img {
    max-width: 100%;
    border-radius: 10px;
  }
  .foodMenu-card-image button {
    position: absolute;
    bottom: 0.55em;
    right: 0.21em;
    border-radius: 50%;
    font-size: 1.5em;
    padding: 0.2em;
    display: flex;
    align-items: center;
    color: #908d8d;
    border-color: #908d8d;
    font-weight: lighter;
  }
  .ellipsis {
    display: -webkit-box; /* Flexbox-based for webkit browsers */
    -webkit-line-clamp: 2; /* Limits to 2 lines */
    -webkit-box-orient: vertical; /* Ensures vertical box orientation */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis at the end */
    line-height: 1.5; /* Adjust line height as needed */
    max-height: 3em; /* Set max height (2 lines * line-height) */
    word-wrap: break-word; /* Break long words if needed */
  }
}
@media (min-width: 960px) {
  .foodMenu {
    display: flex;
    gap: 2em;
    padding-inline: 1.5em;
    margin-top: 1em;
  }
}
.btn-active {
  background-color: white;
  border: 0.5px solid rgb(221, 217, 217) !important;
  border-radius: 5px;
}
.btn-active p {
  font-size: 0.8em;
  line-height: 1.7;
  color: #908d8d;
}

.title-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%; /* Adjust this width as needed */
}

.placeholder {
  position: absolute;
  bottom: 0.65em;
  left: 0.5em;
  background: white;
  transition: 0.1s;
  font-size: 0.95em;
}

.hero {
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 110px;
}
.hero-title {
  flex-basis: 46%;
  color: #333333;
  font-family: "Agrandir";
  display: flex;
  align-items: center;
  padding: 0 2%;
  font-weight: 550;
}
.hero-image {
  flex-basis: 46%;
  position: relative;
  overflow: hidden;
}
.hero-image img {
  width: 120%;
}
.hero-location {
  width: 100%;
  position: absolute;
  bottom: -6em;
}
.hero-location-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.hero-location-form-locateMe {
  position: relative;
  border-radius: 9px;
  flex-grow: 1;
  display: flex;
  box-shadow: 0px 0px 2px 1px #cbc3c3;
}
.hero-location-form-locateMe input {
  flex-grow: 1;
  margin-inline-end: auto;
  border: none;
  border-radius: 9px 0px 0px 9px;
  outline: none;
  padding-inline: 1em;
  font-size: 1em;
  font-weight: lighter;
  font-family: "Open Sans";
}
.hero-location-form-locateMe input :not(:-moz-placeholder-shown) + .placeholder {
  font-size: 0.65em;
  bottom: 4em;
  left: 1em;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.634);
  font-weight: 500;
}
.hero-location-form-locateMe input:focus + .placeholder,
.hero-location-form-locateMe input :not(:placeholder-shown) + .placeholder, .hero-location-form-locateMe input:hover + .placeholder {
  font-size: 0.65em;
  bottom: 4em;
  left: 1em;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.634);
  font-weight: 500;
}
.hero-location-form-locateMe button {
  background: white;
  border: none;
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0.8em;
  font-size: 0.9em;
  font-weight: 550;
  color: #333;
  border-radius: 0px 9px 9px 0px;
  font-family: "Open Sans";
  position: relative;
  z-index: 1;
}
.hero-location-form-locateMe button:hover {
  color: #c21760;
}
.hero-location-find-btn {
  flex-grow: 1;
}
.hero-location-find-btn:hover::after {
  transform: scale(1.01) !important;
}

@media (max-width: 400px) {
  .hero-title {
    font-size: 0.65em;
  }
}
@media (min-width: 401px) and (max-width: 675px) {
  .hero-title {
    font-size: 0.75em;
  }
}
@media (min-width: 676px) and (max-width: 675px) {
  .hero-title {
    font-size: 0.85em;
  }
}
@media (min-width: 676px) and (max-width: 1042px) {
  .hero-title {
    font-size: 1.145em;
  }
}
@media (min-width: 1043px) and (max-width: 1251px) {
  .hero-title {
    font-size: 1.45em;
  }
}
@media (min-width: 1252px) and (max-width: 1427px) {
  .hero-title {
    font-size: 1.75em;
  }
}
@media (min-width: 1428px) {
  .hero-title {
    font-size: 2em;
  }
}
@media (min-width: 964px) {
  .hero {
    align-items: flex-start;
    margin-bottom: 4em;
  }
  .hero-title {
    margin-top: 2em;
  }
  .hero-location {
    background: white;
    padding: 0em;
    max-width: 50%;
    border-radius: 9px;
    bottom: 30%;
    left: 1em;
  }
  .hero-location-form {
    flex-direction: row;
    gap: 0.7em;
  }
  .hero-location-find-btn {
    flex-grow: 0;
  }
}
@media (min-width: 964px) {
  .banner-title {
    margin-top: 0 !important;
  }
}
.cities {
  width: 100vw;
  margin-top: 200px;
}
.cities-title {
  text-align: center;
}
.cities-grid {
  display: grid;
  gap: 20px;
  padding: 5% 5%;
}
.cities-grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 9px;
}
.cities-grid-item img {
  width: 100%;
  border-radius: 9px;
  transition: transform 0.4s ease;
}
.cities-grid-item img:hover {
  transform: scale(1.05);
}
.cities-grid-item-caption {
  position: absolute;
  bottom: 10%;
  left: 3%;
  background-color: white;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 764px) {
  .cities-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 765px) and (max-width: 1256px) {
  .cities-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1257px) {
  .cities-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.app-ad {
  background: rgb(238, 4, 129);
  color: white;
  max-height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  padding: 0 1em;
  margin-bottom: 100px;
}
.app-ad-main-title {
  margin-left: 0.5em;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.app-ad-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.app-ad-content h3 {
  margin-top: 20px;
  font-size: 1.25rem;
}
.app-ad-content-fingrtips p {
  font-size: 0.95rem;
  line-height: 1.6;
  font-weight: 500;
}
.app-ad-content-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
.app-ad-content-qrcode {
  display: none;
}
.app-ad-main-image img {
  width: min(600px, 100%);
}

@media (min-width: 904px) {
  .app-ad {
    color: white;
    max-height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 1em;
  }
  .app-ad-content {
    gap: 3rem;
  }
  .app-ad-content-title {
    width: 100%;
  }
  .app-ad-content-title h3 {
    margin-top: auto;
    text-align: start;
  }
  .app-ad-content-fingrtips {
    display: flex;
    gap: 1em;
    align-items: center;
  }
  .app-ad-content-fingrtips p {
    margin-left: auto;
    text-align: start;
  }
  .app-ad-content-qrcode {
    width: 250px;
    height: 90px;
    border: 1px solid white;
    display: grid;
    place-items: center;
  }
  .app-ad-main-image {
    display: grid;
    place-items: center;
  }
}
.app-download {
  background-color: #efeded;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-block: 5em;
}
.app-download-invisible {
  display: none;
}
.app-download-invisible:first-child {
  position: relative;
  top: -1.1em;
}
@media (min-width: 768px) {
  .app-download-invisible {
    display: inline-block;
  }
}

.banner {
  background: #f7f7f7;
  display: flex;
  margin-bottom: 2em;
}
.banner-title {
  margin-right: auto;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  padding: 0 1em;
  font-weight: bolder;
}
.banner-image {
  margin-left: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.banner-image img {
  max-width: 600px;
  width: 90%;
}

@media (max-width: 400px) {
  .banner-title {
    font-size: 0.65em;
  }
}
@media (min-width: 401px) and (max-width: 675px) {
  .banner-title {
    font-size: 0.75em;
  }
}
@media (min-width: 676px) and (max-width: 675px) {
  .banner-title {
    font-size: 0.85em;
  }
}
@media (min-width: 676px) and (max-width: 1042px) {
  .banner-title {
    font-size: 1.145em;
  }
}
@media (min-width: 1043px) {
  .banner-title {
    font-size: 1.4em;
  }
}
@media (min-width: 964px) {
  .banner {
    height: 250px;
    margin-bottom: 0;
  }
  .banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-image img {
    width: 110%;
  }
}
@media (min-width: 964px) {
  .banner {
    padding-inline: min(5%, 5em);
  }
}
.restaurant {
  width: 100vw;
  margin-top: 1em;
  padding: 0 1em;
  margin-bottom: 3em;
}
.restaurant-title {
  margin: 0 auto;
  font-size: 0.85em;
  margin-bottom: 1em;
}
@media (min-width: 964px) {
  .restaurant-title {
    padding-inline: min(5%, 5em);
    font-size: 1em;
  }
}
.restaurant-grid {
  display: grid;
  gap: 20px;
  place-items: center;
}
.restaurant-grid-items {
  position: relative;
  overflow: hidden;
  border-radius: 9px;
  border: 1px solid rgb(176, 171, 171);
  max-width: 596px;
}
.restaurant-grid-items h4 {
  font-size: 0.85em;
}
.restaurant-grid-items img {
  width: 100%;
  border-radius: 9px;
  transition: transform 0.4s ease;
  max-width: 100%;
}
.restaurant-grid-items img:hover {
  transform: scale(1.05);
}
.restaurant-grid-items-caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: white;
  padding: 0.5em 1em;
}
.restaurant-grid-items-caption p {
  font-size: 0.75em;
  font-weight: 400;
}
.restaurant-grid-items-caption-rating {
  display: flex;
  gap: 0.1em;
  position: absolute;
  top: 1.2em;
  right: 0.5em;
}
.restaurant-grid-items-caption-rating img {
  width: 14px;
}

@media (max-width: 599px) {
  .restaurant-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 600px) and (max-width: 963px) {
  .restaurant {
    margin-top: 2em;
  }
  .restaurant-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .restaurant-grid-items-caption-rating p {
    font-size: 0.55em;
  }
}
@media (min-width: 964px) {
  .restaurant-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 1em min(5%, 5em);
    place-content: center;
  }
  .restaurant-grid-items-caption--rating p {
    font-size: 0.65em;
  }
}
@font-face {
  font-family: "Agrandir";
  src: url("./assets/fonts/Agrandir-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: PP Agrandir;
  font-style: medium;
  font-weight: 400;
  src: url("./assets/fonts/PPAgrandir-400-Medium.otf");
}
@font-face {
  font-family: PP Agrandir;
  font-style: bold;
  font-weight: 600;
  src: url("./assets/fonts/PPAgrandir-600-Bold.otf");
}
body {
  font-family: "Open Sans", sans-serif, monospace;
}

.content {
  margin: 0 auto;
}

main {
  max-width: 1536px;
}

button {
  cursor: pointer;
  background-color: transparent;
}

svg {
  color: #333;
}

h1,
h2,
h3,
h4 {
  font-family: "PP Agrandir";
}

.btn {
  border-radius: 10px;
  font-family: "Open Sans";
  position: relative;
  transition: 0.3s;
  z-index: 1;
}
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s;
}
.btn:hover::after {
  transform: scale(1.1);
  z-index: -1;
}
.btn-md {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.57;
  padding: 0.3em 1.2em;
}
.btn-lg {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.65em 0.85em;
}
.btn-white {
  color: #39434d;
  background-color: transparent;
  border: none;
}
.btn-white:hover::after {
  background-color: rgb(238, 235, 235);
}
.btn-pink {
  background-color: #e21b70;
  border: none;
  color: white;
}
.btn-pink:hover::after {
  background-color: #c21760;
}
.btn-border::after {
  border: 1px solid gray;
}
.btn-moderate:hover::after {
  transform: none !important;
}

.no-scroll {
  overflow: hidden;
}

.pink-icon {
  filter: invert(30%) sepia(100%) saturate(1000%) hue-rotate(290deg) brightness(90%) contrast(85%);
  font-weight: bold;
}

.charcoal-icon {
  filter: brightness(0) saturate(100%) invert(19%) sepia(0%) saturate(0%) hue-rotate(197deg) brightness(95%) contrast(92%);
}

.violet-icon {
  filter: brightness(0) saturate(100%) invert(18%) sepia(86%) saturate(4671%) hue-rotate(272deg) brightness(87%) contrast(106%);
}/*# sourceMappingURL=index.css.map */